* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    /*background-color: gray;*/
    border-bottom: 1.5px solid gray;
    padding: 20px;
    overflow: hidden;
    color: #33433d;
}

header img {
    width: 50px;
}

header a {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    text-align: center;
}

.logo-container {
    /*background-color: greenyellow;*/
    /*padding: 16px;*/
}

a {
    text-decoration: none;
    color: black;
}

.left {
    float: left;
}

.right {
    float: right;
}

.btn {
    /*background-color: aqua;*/
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 20px;
}

.btn:hover {
    opacity: 70%;
}

.black-bg {
    background-color: black;
    color: white;
}

.hover-green:hover {
    color: #006241;
}

.left-container,
.right-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flex-space-around {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main {
    border-bottom: 1px solid gray;
}

.margin-20-30 {
    margin: 20px 30px;
}

.main-contents {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 30px;
    color: #1e3932;
}

.main-contents-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-contents-img {
    width: 100%;
}

.main-contents-header,
.main-contents-body {
    margin-top: 20px;
    margin-bottom: 20px;
}

.align-item-center {
    display: flex;
    align-items: center;
}

.ps-texts {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 20px 30%;
    color: black;
}

.ps-texts p {
    margin-top: 20px;
    margin-bottom: 20px;
}

#tropical-cooldown {
    background-color: #eb81a5;
}

#summer-wins-day {
    background-color: #e5ff67;
}

#summer-to-the-max {
    background-color: #8f8bf4;
}

#follow-the-buzz {
    background-color: #f1ff67;
}

#be-kind-to-your-mind {
    background-color: #e1fccd;
}

.about-us {
    border-bottom: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
}

.about-us-section {
    /*background-color: #eb81a5;*/
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    width: 190px;
    max-width: 190px;
    word-wrap: break-word;
}

.about-us-header {
    margin-bottom: 40px;
    color: #282828;
}

.about-us-links {
    margin-bottom: 30px;
    opacity: 80%;
}

.about-us-links:hover {
    opacity: 100%;
}

.word-wrap {
    word-wrap: break-word;
}

.about-us-ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

.contacts {
    /*background-color: #eb81a5;*/
    margin-top: 30px;
}

.circle {
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

footer i {
    color: white;
    padding-left: 8px;
    padding-top: 7px;
}

.tac {
    margin-top: 30px;
}

.tac span {
    color: gray;
}

.tac span {
    padding-left: 25px;
    padding-right: 25px;
}

.tac a:hover {
    text-decoration: underline;
}

.margin-top-20 {
    margin-top: 20px;
}

.opacity-50 {
    opacity: 0.5;
}

@media screen and (max-width: 700px) {
    .flex-space-around,
    .left-container,
    .right-container {
        display: flex;
        flex-direction: column;
    }

    .left-container {
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
    }

    header a {
        display: block;
        margin-top: 15px;
        text-align: center;
    }

    .main-contents {
        display: flex;
        flex-direction: column;
    }

    .main-contents-texts {
        order: 2;
    }

    .ps-texts {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: 20px 0;
    }
}